.container{
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface);
}

h1, h4{
    color: var(--color-primary);
}